/*
 * Global
 */

body {
  background-color: #eee;
}
.center-block {
  float: none;
}

/*
 * Sign in form
 */

.signin {
  margin-top: 80px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 45px auto;
  text-align: center;
  background-color: white;
  border: 3px solid #E7E7E7;
  border-radius: 4px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin .form-signin-footer {
  margin-top: 15px;
}
.form-signin .form-signin-footer hr {
  border: 1px solid #E7E7E7;
}

/*
 * Wrappers
 */

#page-wrapper {
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  #page-wrapper {
    margin-left: 250px;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 1000px;
  }
}

/*
 * Navbar
 */

.navbar {
  margin-bottom: 0px;
}
.navbar .navbar-nav li a {
  padding-bottom: 11px;
}
.navbar .navbar-nav li a:hover {
  border-bottom: 4px solid #1E417C;
  color: #1E417C;
}

/*
 * Sidebar Menu
 */

@media (min-width: 768px) {
  .navbar-static-side {
    z-index: 1;
    position: absolute;
    width: 250px;
  }
}