---
layout: default
---

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/dashboard">CommunityConnect</a>
    </div>
    
    <ul class="nav navbar-nav">
      <li><a href="{{ site.baseurl }}/dashboard">Dashboard</a></li>
      <li><a href="{{ site.baseurl }}/community">Community</a></li>
      <li><a href="{{ site.baseurl }}/services">Services</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help and Support <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{{ site.baseurl }}/#">About</a></li>
          <li><a href="{{ site.baseurl }}/#">Support</a></li>
          <li><a href="{{ site.baseurl }}/#">Feedback</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{{ site.baseurl }}/#">Account Settings</a></li>
          <li><a href="{{ site.baseurl }}/#">CommunityConnect Settings</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="account-image" src="holder.js/24x24/#7e7e7e:#FFF/text: ">Account Name <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{{ site.baseurl }}/#">Log out</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.container-fluid -->

  <div class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse" id="bs-example-navbar-collapse-1">
      <!--
      <ul class="nav" id="side-menu">
        <li>
          <a href="{{ site.baseurl }}/#">Overview <span class="caret"></span></a>
          <ul class="nav nav-second-level">
              <li><a href="#">Demographics</a></li>
              <li><a href="#">Segments</a></li>
              <li><a href="#">Etc.</a></li>
          </ul>
        </li>      
        <li>       
          <a href="{{ site.baseurl }}/#">Strategy and Plan <span class="caret"></span></a>
          <ul class="nav nav-second-level">
              <li><a href="#">Find Customers</a></li>
              <li><a href="#">Develop Services</a></li>
              <li><a href="#">LiteracyDecision</a></li>
          </ul>
        </li>      
        <li>       
          <a href="{{ site.baseurl }}/#">Implement and Feedback <span class="caret"></span></a>
          <ul class="nav nav-second-level">
              <li><a href="#">Actions</a></li>
              <li><a href="#">Feedback and Notes</a></li>
          </ul>
        </li>      
      </ul>-->
    </div>
  </div>
</nav>

<div id="page-wrapper">
  
  {{ content }}
  
</div>